<style>
	.navbar {
		background-color: #ffffff;
		overflow: hidden;
		position: relative;
		border-radius: 10px;
		height: 50px;
	}

	.navbar img {
		position: absolute;
		top: -10px;
		left: 10px;
		padding: 10px;
		height: 50px;
		border-radius: 25px;
	}

	.navbar a {
		font-size: 1.1em;
		font-weight: 500;
		position: relative;
		float: left;
		color: #000000;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-family: Arial, sans-serif;
	}

	.navbar a span::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 6px;
		width: 100%;
		height: 3px;
		background: black; 
		background-image: linear-gradient(to right, #0E429D, #c81345);
		color: #000000;
		border-radius: 5px;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform .5s;
	}

	.navbar a:hover span::after {
		transform-origin: left;
		transform: scaleX(1);
		color: red;
	}

	.button:hover {
		background-color: #2980b9;
	}
</style>

<div class="navbar">
	<a th:href="@{/}"><img src="/images/Logo3.png" alt="CodeKidz Logo"></a>

	<div style="margin-left: 75%;">
		<a href="#"><span>Home</span></a>
		<a th:href="@{/services}"><span>Services</span></a>
		<a th:href="@{/aboutus}"><span>About Us</span></a>
		<a th:href="@{/help}"><span>Help</span></a>
	</div>
</div>
<hr>